.goals-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.goal-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goal-bubble {
  height: 30px;
  width: 30px;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.goal-bubble:hover {
  border: 3px solid gold;
  box-shadow: 0 0 10px orange;
}

.goal-bubble:active {
  border: 3px solid gold;
  box-shadow: 0 0 10px orange;
}

.color0 {
  background: linear-gradient(violet, violet, crimson);
}

.color1 {
  background: linear-gradient(crimson, crimson, coral);
}

.color2 {
  background: linear-gradient(coral, coral, gold);
}

.color3 {
  background: linear-gradient(gold, gold, #32de84);
}

.color4 {
  background: linear-gradient(#32de84, #32de84, #007FFF);
}

.color5 {
  background: linear-gradient(#007FFF, #007FFF, #720e9e);
}

.color6 {
  background: linear-gradient(#720e9e, #720e9e, violet);
}

.color0:hover,
.color1:hover,
.color2:hover,
.color3:hover,
.color4:hover,
.color5:hover,
.color6:hover {
  border: 3px solid black;
  box-shadow: none;
}

.delete-button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.delete-button:hover {
  border: 3px solid gold;
}